In [18]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
mineral_demand = pd.read_csv('data/total-mineral-demand-for-clean-energy-technologies-by-scenario-2010-2040.csv')
print(mineral_demand.shape)

mineral_demand.tail()

(6, 7)

,Year,Solar PV,Wind,Other low-carbon power generation,EVs and battery storage,Electricity networks,Hydrogen
1,2020,0.74,0.64,0.31,0.43,4.98,0.00
2,2030 - Stated Policies Scenario,0.96,1.02,0.93,2.99,6.24,0.01
3,2040 - Stated Policies Scenario,1.49,1.20,0.66,3.99,7.61,0.02
4,2030 - Sustainable Development Scenario,1.75,1.60,1.47,6.90,7.31,0.02
5,2030 - Sustainable Development Scenario,1.82,1.70,1.22,12.65,10.01,0.08

In [4]:
mineral_demand.to_excel('/mnt/c/Users/Palmira/Desktop/Ironhack/final_project/data/mineral_demand.xls', index=False)

In [15]:
CO2_emissions = pd.read_csv('data/CO2_emissions_carbon_atlas.csv')
print(CO2_emissions.shape) #1960 to 2020
CO2_emissions.tail()

(61, 222)

,Unnamed: 0,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
56,2016,6.7446,4.4921,148.9287,0.46899,31.4038,0.15389,0.49098,190.9772,5.2030,...,6.5204,108.1687,0.14656,169.4769,192.7656,0.025648,NaN,10.4269,5.6591,10.7376
57,2017,6.8598,5.3018,154.9356,0.46533,28.4204,0.14290,0.49098,187.8047,5.5366,...,6.1626,107.1532,0.13923,161.5355,195.2493,0.025648,NaN,9.9510,6.5172,9.5816
58,2018,8.3448,4.7339,161.4865,0.49464,24.3758,0.14290,0.49830,181.0996,5.8258,...,6.5710,114.7322,0.17587,120.1767,223.7178,0.025648,NaN,9.9837,7.3131,11.8544
59,2019,12.1467,4.8635,166.6419,0.50185,23.4868,0.13947,0.48637,167.5656,5.5288,...,6.5840,114.1990,0.18128,99.1753,260.3121,0.026437,NaN,10.0204,7.0472,10.9491
60,2020,12.1603,4.5347,154.9955,0.46629,22.1982,0.12343,0.43041,156.9781,5.8903,...,5.8401,112.7843,0.18154,84.6095,254.3032,0.026474,NaN,9.7683,6.5729,10.5313

In [10]:
Global_CO2_emissions = pd.read_csv('data/Global_CO2_emissions.csv')
print(Global_CO2_emissions.shape) #until 2010
Global_CO2_emissions.tail()

(260, 8)

,Year,Total,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,Per Capita
255,2006,8370,1525,3089,3339,356,61,1.27
256,2007,8566,1572,3081,3464,382,68,1.28
257,2008,8783,1631,3122,3571,388,71,1.30
258,2009,8740,1585,3056,3620,413,66,1.28
259,2010,9167,1702,3114,3842,450,59,1.33

In [16]:
CO2_emissions.to_excel('/mnt/c/Users/Palmira/Desktop/Ironhack/final_project/data/Magnesium/CO2_emissions.xls', index=False)

In [25]:
sales_EV = pd.read_csv(
    'data/global-sales-and-sales-market-share-of-electric-cars-2010-2021.csv')
print(sales_EV.shape)

sales_EV.tail()

(12, 6)

    Year  Others  China  United States  Europe  Global market share
7   2017    0.11   0.65           0.20    0.31                  1.36
8   2018    0.19   1.17           0.36    0.40                  2.30
9   2019    0.16   1.10           0.33    0.59                  2.49
10  2020    0.17   1.20           0.30    1.40                  4.11
11  2021    0.29   3.35           0.67    2.29                  8.57